<h1>Listado de cursos propuestos</h1>

<table>
  <tr>
    <th>Nombre del curso</th>
    <th></th>
  </tr>

  <% @actividads.each do |actividad| %>
    <tr>
      <td><%= actividad.nombre %></td>
      <td><%= link_to 'Ver', :action => :showSolicitud, :id => actividad.id %></td>
    </tr>
  <% end %>
</table>