<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Buenas tardes <%= @usuario.nombre %></h1>
    <p>
      Tenemos al agrado de informarle que el curso <%= @actividad.nombre %> ya tiene el cupo suficiente para
      ser impartido, por lo que ya puedes pasar a realizar el pago de la inscripción.<br/>
    </p>
    <p>
      Para ingresar da click: <a href="<%= @url %>">aquí</a>.
    </p>
    <p>Gracias por ser parte de SEAyC, que tenga un excelente día!</p>
  </body>
</html>