
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>Inicio</title>
  
<style type="text/css" media="all">
	@import "style.css";
</style>
</head>
<body>
<div id="farouter">
	<div id="outer">
		<div id="wrap">
			<div id="headermain">
				<img src="https://www.unam.mx/sites/all/themes/unam/logo.png">
			</div>

			<div id="hmenu">
				<div id="hnav">
					<ul id="navlist">
						<li><a href="" id="active">Proximos Cursos</a></li>
						<li><a href="#">Actividades de Curso</a></li>
						<li><a href="#">Cat&aacute;logo de Curso</a></li>
						<li><a href="#">Formas de Pago</a></li>
						<li><a href="formato_solicitud.html">Solicitud en Linea</a></li>
						<li><a href="registrar.html">Registrarse</a></li>
					</ul>
				</div>
			</div>

			<div id="main">
				<div id="content">
					<div id="nav">
						<div id="class1"><h4>Bienvenidos al Diplomado abierto y continuo</h4>
						<div class="extraesp">Nuestra labor en Educaci&oacute;n Continua es promover la actualizaci&oacute;n, capacitaci&oacute;n, perfeccionamiento y superaci&oacute;n de conocimiento por medio de actos acad&eacute;micos con t&oacute;picos relativos a las carreras que se imparten en la Facultad. Estos actos pueden ser Cursos, Diplomados, Seminarios o Talleres dirigidos tanto a profesionales como al p&uacute;blico en general interesado, de instituciones p&uacute;blicas o privadas. </div>
						<br>
						<div class="extraesp">En Educaci&oacute;n a Distancia hemos iniciado la implementaci&oacute;n de nuestro Ambiente Virtual de Educaci&oacute;n a trav&eacute;s de la plataforma AVE Ciencias basada en la plataforma educativa SAKAI. Las herramientas, los espacios virtuales y espacios de cooperaci&oacute;n adem&aacute;s de los recursos did&aacute;cticos que nuestra comunidad realiza, har&aacute;n que en el corto plazo la Facultad de Ciencias ampl&iacute;e la oferta educativa en esta modalidad.</div>	
						


						</div>
						<div id="block-views-bloque-boletines-block" class="views-row">
							Cursos de Diplomado

						</div>
						<div id="block-views-bloque-boletines-block" class="views-row2">
							Propuestas de los Cursos<br>
						</div>
						<br>
					</div>
					
				</div>
				
			</div>

			<div id="clearer">&nbsp;</div>
			<div id="footer">

			</div> <!-- END footer -->
		</div> <!-- END wrap -->
	</div> <!-- END outer -->
</div> <!-- END farouter -->


</body>
</html>