<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>Autorización del curso</title>
  
<style type="text/css" media="all">
	@import "style.css";
</style>
<style type="text/css" media="all">
	@import "style_for.css";
</style>
</head>
<body>
<div id="farouter">
	<div id="outer">
		<div id="wrap">
			<div id="headermain">
				<img src="https://www.unam.mx/sites/all/themes/unam/logo.png">
			</div>

			<div id="hmenu">
				<div id="hnav">
					<ul id="navlist">
						<li><a href="index.html">Proximos Cursos</a></li>
						<li><a href="#">Actividades de Curso</a></li>
						<li><a href="#">Cat&aacute;logo de Curso</a></li>
						<li><a href="#">Formas de Pago</a></li>
						<li><a href="formato_solicitud.html" >Solicitud en Linea</a></li>
						<li><a href="" id="active">Registrarse</a></li>
					</ul>
				</div>
			</div>

			<div id="main">
				<div id="content">
					<div id="nav" >
						<h1>Registro de Interesado</h1>
						<hr>
						<div>&nbsp;Complete los siguientes campos que le solicita.</div><br>
						<form class="er" action="#" method="post">
							<h2 align="center">DATOS DEL INTERESADO</h2>
							* Numero de Cuenta: <input  type="text" name="noms" size="10" required>
							<br><br>
							* Nombre de Usuario: <input type="text" name="noms" size="18" required>
							<br><br>
							* Nombre(s): &nbsp;&nbsp;<input class="textf" type="text" name="noms" size="25" required>
							<br><br>
							* Apellido Paterno:&nbsp;&nbsp;	<input class="textf" type="text" name="noms" size="25" required>
							<br><br>
							* Apellido Materno:&nbsp;&nbsp; <input class="textf" type="text" name="noms" size="25" required><br><br>

							* RFC:&nbsp;&nbsp; <input type="text" name="lugar" size="16" required>
							<br><br>

							Instituci&oacute;n: &nbsp;&nbsp; <input class="textf" type="text" name="lugar" size="25" >
							<br><br>

							* Contrase&ntilde;a: &nbsp;&nbsp;<input  type="password" name="lugar" size="25" required>
							<br><br>

							* Repetir Contrase&ntilde;a: &nbsp;&nbsp;<input type="password" name="lugar" size="25" required>
							<br><br>
							
							<div align="center"><input type="submit" name="Aceptar" value="Registrar"></div>
							<br>
						</form>
						<br>
					</div>
				</div>
				
			</div>

			<div id="clearer">&nbsp;</div>
			<div id="footer">

			</div> <!-- END footer -->
		</div> <!-- END wrap -->
	</div> <!-- END outer -->
</div> <!-- END farouter -->

</body>
</html>